In [35]:
import pandas as pd
import numpy as np

In [36]:
"""
lectura del csv

"""
df_tweets = pd.read_csv("tweet.csv", error_bad_lines=False)
df_tweets.head(10)

b'Skipping line 657616: expected 7 fields, saw 8\nSkipping line 657844: expected 7 fields, saw 10\n'

,id,user,location,tweet,lang,mourning,sentiment
0,1251188710235832321,BaldEagle68,Alkmaar,Toilet paper delivery #UniqueDeliveryServices,en,NaN,NaN
1,1251188710021922817,JackieMcReath1,earth,@SpeakerPelosi a failed leader and an evil woman,en,NaN,NaN
2,1251188710214959105,Rocko_Supreme,"Brooklyn, NY",The irs said fuck me and that stimulus,en,NaN,NaN
3,1251188710290403335,hegotbanks,university of central arkansas,This COVID-19 pandemic would‚Äôve went a lot smo...,en,NaN,NaN
4,1251188710407888897,Stu20199Rudd,"Rhinebeck, New York","With the Keys of the Kingdom of Heaven, I Loos...",en,NaN,NaN
5,1251190667918946305,ErikkUglyy,"Dallas, TX",@glosaucedo Pussy,en,NaN,NaN
6,1251190668040560640,abdulmuhammad30,London,This is honestly grotesque. NHS staff to be as...,en,NaN,NaN
7,1251190668107681794,guiiguihime,Candied Island,@saudianprincess üò≠üò≠üò≠ I‚Äôm dumb so I can‚Äôt. But ...,en,NaN,NaN
8,1251190668279582721,leidyste10,"Dallas, TX",Ah it's been a year now\r\nThink I've figured ...,en,NaN,NaN
9,1251190668472586240,featuringFool,NaN,Send,en,NaN,NaN

In [37]:
srs_text = df_tweets["tweet"]
srs_text = srs_text.dropna()
df_filtred = pd.DataFrame(columns=["id","user","location","tweet","lang","mourning","sentiment"])
try:
    count_true = 0
    count_iter = 0
    for text in srs_text:
        if "qepd" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "QEPD" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "no me arrepiento" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "#QEPD" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "#qepd" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "jamas te olvidare" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "otra vida" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "lugar mejor" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "üëº" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "üë¥" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "en los cielos" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "cielos" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "angelito" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "en tu muerte" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "san pedro" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "üíí" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "‚úùÔ∏è" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "en la cruz" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "si estuvieras ac√°" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "fuiste" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true += 1
        elif "cristo" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "ense√±aste" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "en los cielos" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "p√©same" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "pesame" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        elif "est√° con dios" in text:
            df_filtred.loc[count_true] = df_tweets.loc[count_iter]
            count_true +=1
        count_iter += 1
    print(df_filtred.shape)
    print(df_filtred.head(5))
except ValueError:
    print("uj")

(355, 7)
                    id             user        location  \
0  1251196254647975936    Simon75218139             NaN
1  1251201468406906880   isaaclcolorado  Monterrey, Mex
2  1251203095754915842  Juan_manuel_Fer             NaN
3  1251203111542235136      miraLaAngie             NaN
4  1251204374090702848      KLaw0909091         Unknown

                                               tweet lang mourning sentiment
0                       I want to do san pedro again   en      NaN       NaN
1  @MauricioHr_ No fuiste el primero en adivinar,...   es      NaN       NaN
2  Jesucristo se pas√≥ por all√≠! Lo que no consiga...   es      NaN       NaN
3  Happy birthday brother I miss you more than ev...   en      NaN       NaN
4            Bless the angels for watching over me üëº   en      NaN       NaN

In [38]:
df_filtred.to_csv("tweets_filtrados.csv")

In [39]:
df_tweets["lang"].value_counts()

en                                                                                                      855168
es                                                                                                      228299
 CA"                                                                                                         3
 USA"                                                                                                        3
 i√¢‚Ç¨‚Ñ¢ll be up as soon as it√¢‚Ç¨‚Ñ¢s not a bad idea lmfao"                                                        1
Mex."                                                                                                        1
 OH"                                                                                                         1
 Mt. Vernon NY "                                                                                             1
 Texas"                                                                                                      1
 England"                                                                                                    1
Morocco"                                                                                                     1
 Patricio Vi√É¬±ayo y Luis Helguera tambi√É¬©n pasar√É¬°n los test de la Covid-19 https://t.co/QoA61tvjdt"         1
-119.185021"                                                                                                 1
 she/her"                                                                                                    1
 Ga"                                                                                                         1
 NY"                                                                                                         1
Name: lang, dtype: int64

In [40]:
df_span = df_tweets[df_tweets['lang'] == 'es']
df_span.head(10)
df_span.to_csv('tweet_mortem.csv')